# Copyright (c) 2024 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GNU Affero GPL v3 or later

name: Run smoke test

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

jobs:
  smoke_test:
    name: Run the test suite
    strategy:
      matrix:
        python-version: ["3.10", 3.14]  # no particular need for in-between versions
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run smoke test
      run: |
        set -x
        python3 --version
        ./Caddyfile.generate --config sites.cfg.EXAMPLE --saltstack > actual-output.txt
        diff -u0 \
            <(tail -n +3 .github/workflows/expected-output.txt) \
            <(tail -n +3 actual-output.txt)
